
#top {
    position: relative;
    background-color: #252525;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #C5E1A5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #252525;
    padding: 5px;
}

.left_content {
    background-color: #252525;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #252525;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

body .ui-fieldset .ui-fieldset-legend {
    border: 1px solid #191919;
    background: #C5E1A5;
    color: #191919;
    padding: 0.857rem 1rem;
    font-weight: 700;
    border-radius: 3px;
    user-select: none;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}


